In [1]:
import pandas as pd 
import numpy as np

In [8]:
np.random.seed(0)
array = np.random.randint(20, size = (5,3) )
array

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [11]:
weekly_sales = pd.DataFrame(array, index=["Mon","Tues","Wed","Thurs","Fri"], columns=["Peanut Butter", "Almond Butter" , "Cashew Butter"])

weekly_sales

       Peanut Butter  Almond Butter  Cashew Butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [12]:
price = np.array([5, 7, 9])
price

array([5, 7, 9])

In [13]:
price.shape

(3,)

In [16]:
price = price.reshape(1,3)
price.shape

(1, 3)

In [19]:
price_dataframe = pd.DataFrame(price, index=["Price"], columns=["Peanut Butter", "Almond Butter", "Cashew Butter"])
price_dataframe

       Peanut Butter  Almond Butter  Cashew Butter
Price              5              7              9

In [23]:
price_dataframe_reshape = price_dataframe.T
price_dataframe_reshape

               Price
Peanut Butter      5
Almond Butter      7
Cashew Butter      9

In [25]:
weekly_sales.shape, price_dataframe_reshape.shape

((5, 3), (3, 1))

In [27]:
total_prices = weekly_sales.dot(price_dataframe_reshape)

total_prices

       Price
Mon      165
Tues      99
Wed      340
Thurs    170
Fri      110

In [29]:
weekly_sales["Total Sales"] = total_prices
weekly_sales

       Peanut Butter  Almond Butter  Cashew Butter  Total Sales
Mon               12             15              0          165
Tues               3              3              7           99
Wed                9             19             18          340
Thurs              4              6             12          170
Fri                1              6              7          110